@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.category-container {
  display: flex; 
  justify-content: space-between; 
  margin-top: 10px;
}

.category-box {
  border: 1px solid #4c4c4c; 
  padding: 10px; 
  width: 40%; 

}

.category-title {
  margin: 40px 0;
}

.category-select {
  width: 100%; 
  padding: 8px; 
  border: 1px solid #4c4c4c 
}


.category-select:focus {
  border-color: #000000; 
  outline: none; 
}
