@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.recommended-price {
  margin-top: 5px;
  font-family: SUIT-Regular;
  font-size: 18px
}

.recommended-price .MuiSlider-thumb {
  color: #28275a; 
}

.recommended-price .MuiSlider-track {
  color: #28275a; 
}

.recommended-price-slider .MuiSlider-rail {
  color: #ddd; 
}


.price-range {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-size: 18px;
  color: #333;
  font-family: SUIT-Regular;
}

.price-range span {
  font-weight: bold;
}
